; --->
; > Stripper by HeeChan
; > Contract me if you found a bug
; --->


; --->
; Fixed that players can control func_tanktrain
; --->
modify:
{
    match:
    {
        "targetname" "gabka"
        "classname" "func_tanktrain"
    }
    replace:
    {
        "spawnflags" "2"
    }
}
; --->
; Fixed chat spam (Why -1, mappers?)
; --->
modify:
{
    match:
    {
        "classname" "func_breakable"
        "targetname" "Rat_Boss_Breakable"
    }
    delete:
    {
        "OnBreak" "pservercmdBOSSdeadCommandThe rat is dead!0-1"
        "OnBreak" "pservercmdZmTPPobosieCommandZombie Teleport 5 Seconds1-1"
    }
    insert:
    {
        "OnBreak" "pservercmdBOSSdeadCommandThe rat is dead!01"
        "OnBreak" "pservercmdZmTPPobosieCommandZombie Teleport 5 Seconds11"
    }
}
modify:
{
    match:
    {
        "classname" "trigger_once"
        "hammerid" "513404"
    }
    delete:
    {
        "OnStartTouch" "pservercmdsplitCommandsay Split here! We have to defend two sides!0-1"
        "OnStartTouch" "pservercmdsplit2Commandsay Someone have to go down!2-1"
    }
    insert:
    {
        "OnStartTouch" "pservercmdsplitCommandsay Split here! We have to defend two sides!01"
        "OnStartTouch" "pservercmdsplit2Commandsay Someone have to go down!21"
    }
}
modify:
{
    match:
    {
        "classname" "trigger_once"
        "hammerid" "463328"
    }
    delete:
    {
       "OnStartTouch" "pservercmd6CommandDefend and find the way!3-1"
        "OnStartTouch" "pservercmd61CommandZombie teleport 10 seconds!0-1"
    }
    insert:
    {
      "OnStartTouch" "pservercmd6CommandDefend and find the way!31"
      "OnStartTouch" "pservercmd61CommandZombie teleport 10 seconds!01"   
    }
}
modify:
{
    match:
    {
        "targetname" "triggerlodka"
        "classname" "trigger_once"
    }
    delete:
    {
        "OnStartTouch" "pservercmd8Commandsay Defend and wait for sponge!0-1"
        "OnStartTouch" "pservercmd8Commandsay Sponge is moving!34-1
    }
    insert:
    {
        "OnStartTouch" "pservercmd8Commandsay Defend and wait for sponge!01"
        "OnStartTouch" "pservercmd8Commandsay Sponge is moving!341"
    }
}
; --->
; Credits/Fixed incorrect symbol
; --->
modify:
{
    match:
    {
      "targetname" "Witaj"
      "classname" "trigger_once"
    }
    delete:
    {
        "OnStartTouch" "pservercmd1Commandsay ZE remake of the map by � Aleksander | Nen |0-1"
    }
    insert:
    {
        "OnStartTouch" "pservercmd1Commandsay ZE remake of the map by Aleksander | Nen |01"
        "OnStartTouch" "pservercmd1Commandsay | Map Fixed & Modified by HeeChan [03.12.21] | 0.51"
    }
}
modify:
{
    match:
    {
        "classname" "game_text"
        "targetname" "witajtxt"
    }  
    replace:
    {
        "message" "ZE remake of the map by Aleksander | Nen |"
    }
}
